<% include ../partials/header.ejs %>
<div class="container content">
	<h1>Feats</h1>
	<table class="table">
		<% for(i=0; i<feats.length; i++){ %>
		<tr>
			<td><a href="/feats/<%= feats[i].name.replace(' ', '_') %>"><%= feats[i].name%></a></td>
		</tr>
		<% } %>
	</table>
</div>

<% include ../partials/footer.ejs %>