<% include ../partials/header.ejs %>
<div class="container">
	<h1>Add New Feat</h1>
	<form action="/feats" method="POST">
		<div class="form-group">
			<label for="feat[name]">Name:</label>
			<input type="text" name="feat[name]" class="form-control">
		</div>
		<div class="form-group">
			<label for="feat[type]">Type:</label>
			<select name="feat[type]" id="" class="form-control">
				<option value="general">general</option>
				<option value="combat">combat</option>
				<option	value="divine">divine</option>
				<option value="domain">domain</option>
				<option value="metamagic">metamagic</option>
				<option value="racial">racial</option>
				<option value="resereved">reserved</option>
			</select>
		</div>
		<div class="form-group">
			<label for="feat[prereqs]">Prerequisites:</label>
			<input type="text" name="feat[prereqs]" class="form-control">
		</div>
		<div class="form-group">
			<label for="feat[benefit]">Benefit:</label>
			<textarea name="feat[benefits]" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="feat[special]">Special:</label>
			<textarea name="feat[special]" class="form-control"></textarea>
		</div>
		<button class="btn btn-success">Submit</button>
	</form>
</div>

<% include ../partials/footer.ejs %>