<% include ../partials/header.ejs %>
<div class="container">
	<h1>Cleric</h1>
	<h2>Health:</h2>
	<p>
		Hit die: 1d8
		Health per level: 1d8 or 5 + con mod
	</p>
</div>
<% include ../partials/footer.ejs%>