<% include ../partials/header.ejs %>
<h1>Classes</h1>
<table class="table">
	<tr>
		<th>Name</th>
	</tr>
	<tr>
		<td><a href="/classes/artificer">Artificer</a></td>
	</tr>
	<% for(i=0; i<classes.length; i++){ %>
	<tr>
		<td><a href="/classes/<%= classes[i].name %>"><%= classes[i].name %></a></td>
	</tr>
	<% } %>
</table>
<% include ../partials/footer.ejs%>